body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #333;
    color: #fff;
}

h1, h2 {
    text-align: center;
    color: #fff;
}

label {
    display: block;
    margin-bottom: 10px;
    color: #fff;
}

#filePicker {
    margin-bottom: 20px;
}

#controlsContainer {
    text-align: left;
    width: 100%;
}

#controlsContainer label,
#controlsContainer input[type="file"] {
    display: inline-block;
}

#tableContainer {
    margin-top: 20px;
    border: 1px solid #555;
    padding: 10px;
    background-color: #222;
    width: 67%;
    float: right;
    box-sizing: border-box;
    overflow-y: auto;
}

#top {
    height: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th, td {
    border: 1px solid #555;
    padding: 8px;
    text-align: left;
}

td:hover {
    background-color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

th {
    background-color: #444;
}

a {
    color: inherit;
}

#searchBar, #lookupUrl {
    padding: 5px;
    background-color: #444;
    color: #fff;
    border: none;
    border-radius: 5px;
}

#lookupUrl {
    float: right;
    width: 30%;
}

#searchBar {
    margin: 0 auto;
    width: 50%;
    display: block;
}

#index {
    margin-top: 20px;
    text-align: left;
    background-color: #444;
    padding: 10px;
    text-align: center;
    width: 33%;
    float: left;
    box-sizing: border-box;
    overflow-y: auto;
}

#tableContainer,
#index {
    height: calc(66vh);
}

#index h3 {
    margin: 0;
}

#indexItems {
    margin-top: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#indexItems a {
    display: block;
    color: white; /* Set the desired text color */
    padding: 5px 0;
    text-decoration: none;
}

#indexItems a:hover {
    background-color: rgba(255, 255, 255, 0.2);
}